@charset "utf-8";
.zrk33 {
	margin-top: 20px;
	margin-right: 20px;
	height: 790px;
	width: 70%;
	float: right;
	background-color: white;
}
.zrk33{
	display: none;
}
.jueji a.active{
	color: red;
}
.zrk4 {
	height: 80px;
	font-size: 25px;
	text-align: center;
	line-height: 100px;
	border-bottom: 1px solid gainsboro;
}

.zrk41 {
	height: 120px;
	line-height: 150px;
	text-align: center;
}

.zrk41 img {
	width: 195px;
	height: 51px;
}

.zrk42 {
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
	height: 150px;
}

.zrk43 {
	height: 390px;
	text-align: center;
}

.zrk43 img {
	width: 370px;
	height: 364px;
	text-align: center;
}